 * {
    border: 1px solid black;
} 

body {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
}

/* Top stuff */
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    
}

.data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 120px;
    gap: 10px;
}

.dataBox {
    height: 48px;
    width: 120px;
    
}

.options {
    display: flex;
    height: 120px;
    gap: 10px;
    align-items: end;
}

.optionBox {
    height: 32px;
    width: 80px;
    text-align: center;
    
}

/* Middle stuff */
.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

.clickBox {
    height: 450px;
    width: 800px;
    align-items: center;
}

.buildingBox {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.building {
    height: 60px;
    width: 360px;
}

/* Bottom stuff */
.bottom {
    height: 300px;
}